body{
    margin: 0;
    padding: 0;
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

.glassmorphic{
    background: rgba( 80, 227, 194, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card{
    margin-right: 2.5rem;
}

.card a :hover{
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}