{% extends 'Navbar.html' %}
 
{% block head %}

  <link rel="stylesheet" href="{{ url_for('static' , filename='css/analysis.css') }}">

{% endblock %}

{% block body %} 


<section id="analysis">
    <div class="container">
        <h1>Data Visualisation</h1>
        <div class="row">
            <div class="card col-md-3">
                <a href="/static/images/Graph1.jpeg">
                <img src="/static/images/Graph1.jpeg"  class="card-img-top" alt="...">
                </a>
                
            </div>
            <div class="card col-md-3">
                <a href="/static/images/Data_Visualisation_1.jpeg">
                <img src="/static/images/Data_Visualisation_1.jpeg" class="card-img-top" alt="...">
                </a>
            </div>
            <div class="card col-md-3">
                <a href="/static/images/Graph2.jpeg">
                <img src="/static/images/Graph2.jpeg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <hr>
        <h1>Model Visualisation</h1>
        <h3>Support Vector Machine</h3>
        <div class="row">
            <div class="card col-md-3">
                <a href="/static/images/Graph1.jpeg">
                <img src="/static/images/Graph1.jpeg"  class="card-img-top" alt="...">
                </a>
                
            </div>
            <div class="card col-md-3">
                <a href="/static/images/Data_Visualisation_1.jpeg">
                <img src="/static/images/Data_Visualisation_1.jpeg" class="card-img-top" alt="...">
                </a>
            </div>
            <div class="card col-md-3">
                <a href="/static/images/Graph2.jpeg">
                <img src="/static/images/Graph2.jpeg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <br>
        <hr>
        <h3>Random Forest Classifier</h3>
        <div class="row">
            <div class="card col-md-3">
                <a href="/static/images/Graph1.jpeg">
                <img src="/static/images/Graph1.jpeg"  class="card-img-top" alt="...">
                </a>
                
            </div>
            <div class="card col-md-3">
                <a href="/static/images/Data_Visualisation_1.jpeg">
                <img src="/static/images/Data_Visualisation_1.jpeg" class="card-img-top" alt="...">
                </a>
            </div>
            <div class="card col-md-3">
                <a href="/static/images/Graph2.jpeg">
                <img src="/static/images/Graph2.jpeg" class="card-img-top" alt="...">
                </a>
            </div>
        </div>
    </div>
  </section>

{% endblock %}